/* Variables */
:root {
  --logo-shadow: #B52933;
  --logo-shadow-active: #8E1E26;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-dark-blue: #293449;
  --basic-dark-grey: #3d546f;
  --basic-grey: #a9a9a9;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-red: #ee3643;
  --red-hover: #ca2c37;
  --basic-extra-light: #f9f5f0;
  --green-hover: #5fbb2d;
  --basic-green: #63a63e;
  --hover-main-menu: #1d2739;
  --dark-blue: #32425c;
  --red-active: #ba2732;
  --features-orange: #ffbf47;
  --features-orange-second: #ffc047;
  --features-blue: #3bbce3;
  --features-purple: #dc91d8;
  --features-light-green: #8ed78f;
  --features-link-hover: #c5c5c54d;
  --social-background: #212a3a;
  --yellow: #ffd180;
  --filter-background: #F7F3EC;
  --filter-checkbox-hover: #b5b5b5;
  --border-grey: #E5E5E5;
  --border-popular: #eaeaea;
  --scale-background: #d7dcde;
  --bar-background: #00CA74;
  --toggle-background: #ababab;
  --toggle-shadow: #E0DED9;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum bold";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum italic";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Pt Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pt Sans bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Buttons */

.button {
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.button:hover {
  background-color: var(--red-hover);
}

.button:active {
  background-color: var(--red-active);
}

/* Titles */

.title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Text */

.text {
  font-family: "Pt Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Hidden */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Images */

.image {
  display: block;
}

.new {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url(../img/icons/new.svg);
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

/* All ul */

.main-navigation-list,
.main-header-user-navigation,
.features-list,
.slider-list,
.popular-goods-list,
.popular-manufacturers-list,
.services-list,
.description-list,
.about-list,
.footer-navigation-list,
.footer-sections-navigation,
.social-list,
/* CATALOG */
.user-navigation-list,
.breadcrumbs-list,
.filter-list,
.goods-list,
.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* html */

.page {
  height: 100%;
}

/* Body */

.page-body {
  min-width: 940px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Header */

.main-header {
  flex-shrink: 0;
  padding-bottom: 60px;
  margin-bottom: 59px;
  background-color: var(--basic-background);
}

.header-top-wrapper {
  background-color: var(--basic-dark-blue);
}

.main-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-dark-blue);
}

.main-header-logo {
  padding: 12px 56px;
}

.logo {
  display: block;
  background-color: var(--basic-red);
  box-shadow: 0px 5px 0px var(--logo-shadow);
}

.logo-image {
  display: block;
}

.logo:active {
  background-color: var(--red-active);
  box-shadow: 0px 5px 0px var(--logo-shadow-active);
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.search-input {
  position: relative;
  margin: 0;
  margin-right: 43px;
  padding: 11px 0;
  padding-left: 42px;
  background-color: var(--basic-dark-blue);
  border: none;
  outline: none;
}

.search-icon-image {
  position: absolute;
  content: "";
  top: 11px;
  left: 18px;
  background-image: url(../img/icons/icon-search.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.search-input:focus {
  background-color: var(--basic-white);
}

.search-input:focus+.search-icon-image path {
  fill: var(--basic-red);
}

.search-input::placeholder {
  color: var(--basic-white);
}

.top-header-link {
  display: block;
  padding: 9px 0;
  text-decoration: none;
  text-align: center;
  color: var(--basic-white);
}

.top-header-link:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-bookmarks-link {
  margin-right: 73px;
}

.header-basket-link {
  margin-right: 26px;
}

.header-bookmarks-link,
.header-basket-link {
  position: relative;
}

.header-bookmarks-link::before {
  position: absolute;
  content: "";
  top: 13px;
  left: -23px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icons/icon-bookmark.svg);
  background-repeat: no-repeat;
}

.header-basket-link::before {
  position: absolute;
  content: "";
  top: 13px;
  left: -23px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icons/icon-basket.svg);
  background-repeat: no-repeat;
}

.bookmarks-icon:hover,
.basket-icon:hover {
  fill: var(--basic-white);
}

.top-header-button {
  flex-grow: 0;
  width: 150px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  background-color: var(--basic-green);
}

.top-header-button:hover {
  background-color: var(--green-hover);
}

.top-header-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green);
}

/* Header middle line */

.main-header-middle {
  padding-top: 42px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-title {
  margin: 0;
  margin-left: 30px;
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.main-header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-blue);
}

.header-telephone {
  position: relative;
  padding: 8px;
  padding-left: 75px;
  padding-right: 45px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: var(--basic-red);
  border: solid 3px var(--basic-white)
}

.header-telephone::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 40px;
  width: 18px;
  height: 19px;
  background-image: url(../img/icons/icon-phone.svg);
}

/* User navigation */

.main-header-user-navigation {
  display: flex;
  justify-content: space-between;
  flex-basis: 281px;
}

.login-link,
.registration-link,
.user-name {
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.login-link {
  position: relative;
  padding-left: 45px;
  padding-right: 27px;
}

.login-icon::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icons/icon-login.svg);
  background-repeat: no-repeat;
}

.user-name {
  background-color: var(--basic-white);
  cursor: pointer;
}

.user-name:active {
  color: var(--basic-greylight);
}

.orders-link,
.lk-link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--dark-blue);
}

.orders-link:hover,
.lk-link:hover {
  color: var(--basic-red);
}

.logout-link:active,
.orders-link:active,
.lk-link:active {
  color: var(--basic-greylight);
}

.login-link:hover,
.registration-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
  color: var(--basic-greylight);
}

/* Main navigation */

.main-navigation-wrapper {
  box-shadow: inset 0px -5px 0px #293449;
  background-color: var(--dark-blue);
}

.main-navigation-list {
  display: flex;
  justify-content: space-around;
  padding-left: 25px;
  padding-right: 25px;
}

.navigation-item {
  flex-grow: 1;
}

.main-navigation-list .navigation-link:hover {
  background-color: var(--basic-dark-blue);
}

.navigation-link {
  display: block;
  padding-top: 16px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);
}

.navigation-link:active {
  opacity: 0.5;
}

/* MAIN CONTENT */

.page-main {
  flex-grow: 1;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
}

/* Features */

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 59px;
}

.features-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 23px;
}

.features-item-title,
.features-item-link {
  text-decoration: none;
  color: var(--basic-white);
}

.features-text-block {
  display: flex;
  flex-direction: column;
}

.features-item-title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 14px;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.features-item-link {
  margin-bottom: 21px;
  padding: 10px 0;
  width: 135px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
}

.features-item-link:hover {
  /*? background-color: rgba(197, 197, 197, 0.3); */
  background-color: #c5c5c54d;
}

.features-item-materials {
  padding-right: 43px;
  background-color: var(--features-orange);
}

.features-item-instruments {
  padding-right: 31px;
  background-color: var(--features-blue);
}

.features-item-technics {
  padding-right: 31px;
  background-color: var(--features-purple);
}

.features-item-discounts {
  padding-right: 45px;
  background-color: var(--features-light-green);
}

.features-item-delivery {
  padding-right: 31px;
  background-color: var(--features-orange-second);
}

/* Gallery */

.features-slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  color: var(--basic-white);
  padding: 0;
}

.slider-item {
  display: none;
}

.slider-current {
  display: block;
}

.figure {
  margin: 0;
  position: relative;
  background-color: #72604C;
}

.figure-text-block {
  padding: 24px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slide-title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slide-text {
  margin: 0;
  margin-top: 5px;
  padding-top: 0;
}

.slide-button {
  position: absolute;
  left: 24px;
  bottom: 27px;
  width: 192px;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.slider-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.slider-button-back {
  position: absolute;
  left: 24px;
  bottom: 104px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icons/icon-left.svg);
}

.slider-button-next {
  position: absolute;
  right: 24px;
  bottom: 104px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icons/icon-left.svg);
  transform: rotate(180deg);
}

/* Popular goods */

.popular-goods-title,
.popular-manufacturers-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--dark-blue);
  background-color: var(--basic-extra-light);
}

.popular-goods-button,
.popular-manufacturers-button {
  width: 192px;
  margin-right: 14px;
  text-align: center;
  color: var(--basic-white);
}


.popular-goods-list {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-family: "Pt Sans", sans-serif;
}

/* Popular manufacturers */

.popular-manufacturers-list {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.popular-manufacturers-title {
  color: var(--dark-blue);
}

.popular-manufacturers-link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  border: solid 1px var(--border-popular);
}

.popular-manufacturers-link:hover {
  box-shadow: 0 4px 20px var(--border-grey);
}

.popular-manufacturers-link:active {
  opacity: 0.5;
}


/* Services */

.services {
  position: relative;
  padding-top: 64px;
  margin-bottom: 70px;
  background-color: var(--basic-background);
}

.services-title {
  margin-bottom: 25px;
}

.services-wrapper {
  background-color: var(--basic-background);
}

.services-wrapper-inner {
  display: flex;
}

.services-text-block {
  margin-bottom: 70px;
}

.services-text-block .text {
  margin: 0;
}

.services-list {
  position: relative;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 99px;
}

.services-list::after {
  position: absolute;
  content: "";
  top: -49px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url(../img/icons/shadow-line.svg);
}

.services-item {
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 22px;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--dark-blue);
}

.services-item:hover {
  background-color: var(--basic-dark-blue);
}

.services-item:active {
  color: var(--dark-blue);
  background-color: var(--basic-white);
}

.services-description-wrapper {
  flex-grow: 1;
}

.description-list {
  position: relative;
  height: 100%;
}


.description-item {
  display: none;
  height: 100%;
}

.description-item-current {
  display: block;
}

.description-title {
  margin-bottom: 30px;
  color: var(--dark-blue);
}

.description-text-block .text {
  width: 300px;
  margin: 0;
}

.description-item-delivery {
  background-image: url(../img/services/services_delivery.png);
  background-size: 468px 261px;
  background-repeat: no-repeat;
  background-position: top 19px right 1px;
}

.description-item-guarantee {
  background-image: url(../img/services/services_guarantee.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.description-item-credit {
  background-image: url(../img/services/services_credit.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.description-item-credit .description-text-block {
  margin-bottom: 23px;
}

.description-button {
  padding: 10px 0;
  width: 195px;
}

/*? index columns */

.index-columns {
  display: flex;
  justify-content: space-between;
}

/* About */

.about {
  width: 460px;
}

.about-title,
.contacts-title {
  margin-bottom: 24px;
}

.about .text:nth-child(2) {
  padding-bottom: 25px;
}

.about-list {
  margin-top: 4px;
  margin-bottom: 25px;
}

.about-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 12px;
}

.about-item:last-child {
  padding-bottom: 0;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about-button {
  padding-left: 40px;
  padding-right: 40px;
}

/* Contacts */

.contacts-button {
  width: 100%;
}

/* Footer */

.main-footer {
  margin-top: 70px;
  flex-shrink: 0;
}

/* Footer top */

.footer-top-wrapper {
  color: var(--basic-background);
  background-color: var(--dark-blue);
}

.footer-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}

.footer-top-inner:nth-child(2) {
  align-items: baseline;
  margin-bottom: 0;
}

.footer-logo {
  display: block;
  padding: 20px 41px;
}

.footer-logo .logo-image {
  width: 137px;
  height: 22px;
}

/* Main navigaton */

.footer-navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.footer-navigation-item {
  background-color: var(--dark-blue);
}

.footer-navigation-link {
  display: block;
  text-decoration: none;
  color: var(--basic-background);
}

.footer-navigation-link,
.sections-navigation-link {
  margin-left: 58px;
}

/* Section navigation */

.footer-sections-navigation {
  display: flex;
  align-items: center;
}

.sections-navigation-link {
  display: block;
  text-decoration: none;
  color: var(--yellow);
}

/* Footer navigation conditions */

.footer-navigation-link:hover,
.sections-navigation-link:hover,
.footer-feedback-link:hover,
.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-navigation-link:active,
.sections-navigation-link:active {
  text-decoration: none;
  opacity: 0.5;
}

/* Footer telephone */

.footer-contacts {
  margin-bottom: 54px;
}

.footer-adress {
  margin: 0;
}

.footer-telephone {
  text-decoration: none;
  color: var(--basic-background);
}


/* Footer bottom */

.footer-bottom-wrapper {
  background-color: var(--basic-dark-blue);
}

.footer-bottom {
  min-height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}

/* Footer social */

.social-list {
  min-width: 134px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: var(--social-background);
  width: 42px;
  height: 42px;
  font-size: 0;
  color: #fff;
}

.social-button:hover,
.social-button:active {
  background-color: var(--basic-red);
}

/* Footer feedback and developer */

.footer-feedback-block {
  display: flex;
  margin-right: 13px;
}

.footer-feedback {
  margin-right: 51px;
}

.footer-feedback,
.footer-developer {
  display: flex;
  flex-direction: column;
}

.footer-feedback-link,
.footer-developer-link {
  text-decoration: none;
  color: var(--yellow);
}

.footer-feedback-link:active,
.footer-developer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* CATALOG STYLES */

.catalog {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  flex-grow: 1;
  width: 700px;
}

.catalog-title {
  padding-top: 29px;
  padding-left: 29px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  color: var(--dark-blue);
  background-color: var(--basic-background);
}

.breadcrumbs {
  margin-top: 21px;
  margin-bottom: 20px;
}

.breadcrumbs,
.aside,
.sorting,
.goods,
.pagination {
  font-family: "Pt Sans", sans-serif;
}

/* Aside, sorting*/

.aside {
  flex-shrink: 0;
  flex-basis: 220px;
  margin-right: 20px;
}

.aside,
.sorting {
  text-transform: uppercase;
}

.aside-title {
  padding-left: 18px;
  margin: 0;
}

.aside-title,
.sorting-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 400;
}

.aside-title,
.sorting,
.price-input,
.range-controls {
  background-color: var(--filter-background);
  border-radius: 5px;
}

.filter-option {
  display: block;
}

.filter-item {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid var(--border-grey);
}

.filter-item:last-child {
  border: none;
}

.filter-title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.check-input,
.radio-input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.check,
.radio-label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 35px;
  font-size: 15px;
  line-height: 19px;
  cursor: pointer;
}

.check-input+.check::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  background-color: var(--basic-white);
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
}

.check-input:checked+.check::after {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  width: 26px;
  height: 23px;
  background-color: var(--basic-white);
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
}

.check-input:checked:disabled+.check,
.check-input:disabled+.check,
.radio-input:disabled+.radio-label,
.radio-input:checked:disabled+.radio-label {
  opacity: 0.4;
  cursor: default;
}

.radio-input+.radio-label::before {
  position: absolute;
  content: "";
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: var(--basic-white);
  background-image: url(../img/icons/radio-off.svg);
  background-repeat: no-repeat;
}

.radio-input:checked+.radio-label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-white);
  background-image: url(../img/icons/radio-on.svg);
  background-repeat: no-repeat;
}

.filter-button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  border: solid 1px var(--border-grey);
  color: var(--basic-black);
  background-color: var(--basic-white);
  cursor: pointer;
}

/* Price filter */

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 9px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--scale-background);
}

.range-controls .bar {
  height: 2px;
  background-color: var(--bar-background);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-background);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--toggle-shadow);
  cursor: pointer;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-input {
  width: 95px;
  border: none;
  text-align: center;
}

/* Sorting */

.sorting {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-title {
  padding-left: 20px;
  margin: 0;
}

.sorting-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: dashed 1px var(--basic-red);
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sorting-button:hover {
  opacity: 1;
  color: var(--basic-black);
  border-bottom: solid 1px var(--basic-red);
}

.sorting-button:active {
  border: none;
  color: var(--basic-red);
}

/* Goods */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs-link {
  margin-right: 40px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 15px;
  width: 8px;
  height: 13px;
  background-image: url(../img/icons/icon-right-small.svg);
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}



.goods {
  font-family: "Pt Sans", sans-serif;
  margin-bottom: 48px;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 18px;
}

.goods-item {
  padding: 0 17px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: solid 1px var(--border-popular);
}

.goods-item:hover {
  box-shadow: 0 4px 20px var(--border-grey);
}

.good-link {
  margin-bottom: 9px;
  flex-shrink: 0;
  flex-basis: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.good-image {
  object-fit: contain;
}

.good-title {
  margin: 0;
  margin-bottom: 7px;
  flex-grow: 1;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.good-price-block {
  flex-shrink: 0;
}


.good-old-price {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 700;
  text-decoration: line-through;
  color: var(--basic-grey);
}

.good-price {
  padding: 10px;
  padding-left: 32px;
  padding-right: 44px;
  margin: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 59px;
}

.pagination-link {
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  display: block;
  text-decoration: none;
  color: var(--basic-black);
  border: solid 1px var(--border-grey);
  border-radius: 2px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link-current {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: solid 1px var(--basic-red);
}

.pagination-link:hover {
  border: solid 1px var(--basic-greylight);
}

.pagination-link:active {
  border: solid 1px var(--basic-red);
}

/* Perforator description */

.perforator-description-wrapper {
  background-color: var(--basic-background);
}


.perforator-description {
  padding-top: 64px;
  padding-bottom: 68px;
  background-color: var(--basic-background);
}

.perforator-description-title {
  margin-bottom: 25px;
}
